Source: kodi-peripheral-steamcontroller
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0), cmake (>= 3.1),
               kodi-addon-dev, pkg-config, libp8-platform-dev, libusb-1.0-0-dev
Standards-Version: 3.9.6
Section: libs

Package: kodi-peripheral-steamcontroller
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Steam controller driver for Kodi
 Steam controller driver for Kodi

Package: kodi-peripheral-steamcontroller-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Steam controller driver for Kodi, debug symbols
 debug symbols for Steam controller driver for Kodi
